* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    90deg,
    rgba(12, 13, 22, 1) 0%,
    rgba(26, 28, 43, 1) 100%
  );
  width: 100svw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Lato", Arial, sans-serif;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b203e;
}

header > div {
  display: flex;
  align-items: center;
  cursor: pointer;
}

header > div > p {
  margin-left: 10px;
  font-size: 24pt;
  font-weight: bold;
}

#header-logo {
  margin-left: 150px;
  width: 95px;
  height: 95px;
}

header nav .link {
  margin: 0 10px;
  padding: 5px 10px;
  color: #eeeeee;
  font-size: 13pt;
  text-decoration: none;
  transition: 0.2s color ease-in-out;
}

header nav .link:hover {
  color: #bbbbbb;
}

header nav .highlighted {
  padding: 8px 16px;
  background-color: #2d5bdb;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.2s background-color ease-in-out;
}

header nav .highlighted:hover {
  color: #eeeeee;
  background-color: #2447a5;
}

header #current-language-icon {
  margin: 0 130px 0 20px;
  width: 50px;
}
